
.card {
    width: 130px;
    border: 1px solid black;
    padding: 30px;
}

.card-2
{
    width: 130px;
    height: 130px;
    border: 2px dashed black;
    padding: 30px;
    margin: 30px;
    text-align: center;
    line-height: 130px;
    border-radius: 50%;
}